*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: burlywood;
    font-family: Arial, Helvetica, sans-serif;
}

.header__titulo{
    text-align: center;
    color: antiquewhite;
    padding: 1rem;
}
.header__nav{
    width: 90%;
    height: 80px;
    margin: 0 auto;
    background-color: rgb(241, 218, 187);
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}
.header__logo img{
    width: 60px;
    padding: 5px;
    margin: auto;
}
.header__menu{
    list-style: none;
    display: flex;
    align-items: center; /* esta wea poner en el entregable */
    padding: 0.7rem;
}
.header__link{
    text-decoration: none;
    color: darkgreen;
    padding: 1rem;
}
.header__link:hover{
    background-color: rgb(6, 18, 41);
    color: orange;
    border-radius: 10px;
}

h1{
    font-family: 'Lora', serif;
    text-align: center;
    font-style: bold;
}

h2{
    font-family: 'Libre Baskerville', serif;
    
}

h3{
    font-family: 'Yellowtail', cursive;
    text-align: center;
}

h4{
    font-family: 'Indie Flower', cursive;
}

.carrusel-falso{
    vertical-align: auto;
    width: 600px;
    height: 400px;
    padding: 10px;
    border-radius: 10%;
}

.centro{
    text-align: center;
}

.caja{
    margin: 5%;
    width:auto ;
    height: 100px;
    background-color:rgb(224, 193, 153);
    border-radius: 7%;
    display: grid;
    place-items: center;
}
.parent {
    display: flex;
    flex-direction:row ;
    height: 800px;
    background-color: #f1ab4e; 
}
  
.child1 {
    padding: 5%;
    flex: 1;
    display: flex;
    justify-content: right;
    align-items: center;
    box-sizing: border-box;
    background-color: #f1ab4e; 
}
.child1 img{
    border-radius: 10px;
    animation: normal ;
}

.child2 {
    flex: 1;
    display: flex;
    justify-content:center;
    align-items: center;
    box-sizing: border-box;
    background-color: #f1ab4e; 

}
.child3 {
    padding: 5%;
    flex: 1;
    display: flex;
    justify-content: right;
    align-items: center;
    box-sizing: border-box;
    background-color: #f1ab4e; 
}

.child2 h3 a{
    text-decoration: none;
}

ul{
    list-style: none;
}

li{
    height: 30px;
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
  }

  .image {
    flex: 1;
    width: 10%;

  }

  .text {
    flex: 1;
    max-width: 50%;
  }
